@model List<Todo>

<h3>Testing Todos</h3>

<table>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Created</th>
      <th scope="col">Actions</th>
      
    </tr>
  </thead>
  <tbody>
      @foreach (var todo in @Model)
        {
        <tr>
          <th scope="row"></th>
          <td>@todo.Name</td>
          <td>@todo.Category</td>
         @* <td>@todo.CreatedUtc</td>*@
          <td>@Html.ActionLink("Remove", "Delete", "Todo", new { Name = @todo.Name})</td>
        </tr>
        }
    
    
  </tbody>
</table>